html {
    overflow-x: hidden;
    font-family: "Poppins", Verdana, Geneva, Tahoma, sans-serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: var(--clr-main);
    border: 0;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-image: url("/src/images/bg.jpg");
    background-size: cover;
    background-position: center center;
}