:root {
    --fw-thin: 100;
    --fw-regular: 400;
    --fw-bold: 700;

    --clr-white: #dbdada;
    --clr-gray: #dddddd;
    --clr-yellow: #ffdc19;
    --clr-black: #1d1b1b;
    --clr-success: #3ddf4a;
    --clr-danger: #f0522b;
    --clr-action: #3db7f0;

    // --clr-bg: var(--clr-black); // dark theme
    // --clr-main: var(--clr-white);

    --clr-bg: var(--clr-white); // light theme
    --clr-main: var(--clr-black);
}