:root {
    --fw-thin: 100;
    --fw-regular: 400;
    --fw-bold: 700;

    --clr-white: #ffffff;
    --clr-gray: #dddddd;
    --clr-black: #1d1b1b;
    --clr-success: #3ddf4a;
    --clr-danger: #f0522b;
    --clr-action: #5bc4f5;

    --clr-bg: var(--clr-white);
    --clr-main: var(--clr-black);
}