.button {
    min-width: max(2rem, 32px);
    min-height: max(2rem, 32px);
    border-radius: 50%;
    border: 1px solid var(--clr-main);
    background: none;

    &:hover {
        cursor: pointer;
        background-color: var(--clr-main);
    }

    &_add {
        &::before {
            content: "+";
            font-size: max(1.5rem, 24px);
        }

        &:hover {
            background-color: var(--clr-success);
        }
    }

    &_edit {
        padding: 0.5rem 1rem;
        border-radius: 1rem;
        background-color: var(--clr-action);
        color: var(--clr-black);
        
        &:hover,
        *:focus-visible {
            background-color: var(--clr-action-dark);
        }
    }

    &_checked {
        background-color: var(--clr-main);
        
        &:hover {
            background-color: var(--clr-bg);
        }
    }
}