.button {
    min-width: max(2rem, 32px);
    min-height: max(2rem, 32px);
    border-radius: 50%;
    border: 1px solid var(--clr-main);
    background: none;

    &:hover, 
    &:focus {
        cursor: pointer;
        background-color: var(--clr-main);
    }

    &_add {
        &::before {
            content: "+";
            font-size: max(1.5rem, 24px);
        }

        &:hover, 
        &:focus {
            background-color: var(--clr-success);
        }
    }
}