@mixin circle {
    width: max(2rem, 32px);
    height: max(2rem, 32px);
    border-radius: 50%;
}

.theme-switch {
    @include circle;
    transition: all 0.3s ease;

    &_dark {
        background-image: url("/src/images/moon.svg");
        background-size: cover;
        background-position: center;

        &:hover,
        &:focus-visible {
            cursor: pointer;
            background-image: url("/src/images/sun.png");      
        }
    }

    &_light {
        background-image: url("/src/images/sun.png");
        background-size: cover;
        background-position: center;

        &:hover,
        &:focus-visible {
            cursor: pointer;
            background-image: url("/src/images/moon.svg");      
        }
    }
}