@mixin circle {
    width: max(2rem, 32px);
    height: max(2rem, 32px);
    border-radius: 50%;
}

.theme-switch {
    @include circle;

    background-image: var(--theme-switch-icon-main);
    background-size: cover;
    background-position: center;
    transition: all 0.3s ease;

    &:hover,
    &:focus-visible {
        cursor: pointer;
        background-image: var(--theme-switch-icon-alternative);      
    }
}